## SvenCo-op map CFG file - Sa13e
## Author: the unic gold archangel
## Ftp://sa13.dyndns.org

globalmodellist ../../maps/sa13.gmr
globalsoundlist ../../maps/sa13.gsr

weapon_crowbar

ammo_9mm 50

startarmor 100

skill 1

mp_timelimit 70
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 1

nextmap sa13f

killnpc 1

## Physics stuff. 
## Don't change unless you know what you're doing!
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 750
sv_maxspeed 300
sv_wateraccelerate 15
sv_waterfriction 1
sv_respawndelay 5
mp_noblastgibs 1
mp_banana 1

